@source "../../../packages/ui/**/*.{js,ts,jsx,tsx}";

@import "tailwindcss";
@import "@seoul-moment/tailwind-config";
@import "@seoul-moment/ui/styles.css";

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

button {
  cursor: pointer;
}
