@source "../../../../packages/ui/**/*.{js,ts,jsx,tsx}";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

@import "tailwindcss";
@import "@seoul-moment/tailwind-config";
@import "@seoul-moment/ui/styles.css";
@import "tailwind-scrollbar-hide/v4";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-orange: #f37b2a;
  --color-gray: #707070;
  --color-error: #ff383c;
  --color-sent: #0088ff;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --text-title-1: 36px;
  --text-title-2: 32px;
  --text-title-3: 24px;
  --text-title-4: 20px;
  --text-body-1: 18px;
  --text-body-2: 16px;
  --text-body-3: 14px;
  --text-body-4: 13px;
  --text-body-5: 12px;
}

@utility scrollbar-hide {
  /* Firefox */
  scrollbar-width: none;

  /* Safari and Chrome */
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility scrollbar-default {
  /* Firefox */
  scrollbar-width: auto;

  /* Safari and Chrome */
  &::-webkit-scrollbar {
    display: block;
  }
}

@utility scrollbar-medium {
  @supports selector(::-webkit-scrollbar) {
    &::-webkit-scrollbar {
      width: 12px;
      height: 12px;
    }
  }

  @supports selector(::-webkit-scrollbar-thumb) {
    &::-webkit-scrollbar-thumb {
      background: rgba(19, 20, 22, 0.1);
      border-radius: 999px;
      margin-top: 10px;
      border: 4px solid transparent;
      background-clip: padding-box;
    }
  }

  @supports selector(::-webkit-scrollbar-track) {
    &::-webkit-scrollbar-track {
      width: 0px;
      background: transparent;
      margin-top: 30px;
      padding-top: 30px;
    }
  }

  @supports not selector(::-webkit-scrollbar) {
    scrollbar-color: rgba(19, 20, 22, 0.1);
    scrollbar-width: thin;
    scrollbar-height: thin;
  }
}

@utility scrollbar-thin {
  @supports selector(::-webkit-scrollbar) {
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
  }

  @supports not selector(::-webkit-scrollbar) {
    scrollbar-width: thin;
    scrollbar-height: thin;
  }
}

@utility scrollbar-color-transparent {
  @supports selector(::-webkit-scrollbar-thumb) {
    &::-webkit-scrollbar-thumb {
      background: transparent;
    }
  }

  @supports not selector(::-webkit-scrollbar) {
    scrollbar-color: transparent transparent;
  }
}

@utility scrollbar-transition {
  transition: all 0.3s ease;

  @supports selector(::-webkit-scrollbar-thumb) {
    &::-webkit-scrollbar-thumb {
      transition: all 0.3s ease;
    }
  }

  @supports not selector(::-webkit-scrollbar) {
    transition: all 0.3s ease;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Pretendard", sans-serif;
}

* {
  box-sizing: border-box;
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-black focus-visible:ring-offset-0;
}

.swiper-button-prev,
.swiper-button-next {
  filter: drop-shadow(2px 4px 6px black);
}
