@source "../../../../packages/ui/**/*.{js,ts,jsx,tsx}";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

@import "tailwindcss";
@import "@seoul-moment/tailwind-config";
@import "@seoul-moment/ui/styles.css";
@import "tailwind-scrollbar-hide/v4";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-orange: #f37b2a;
  --color-gray: #707070;
  --color-error: #ff383c;
  --color-sent: #0088ff;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --text-title-1: 36px;
  --text-title-2: 32px;
  --text-title-3: 24px;
  --text-title-4: 20px;
  --text-body-1: 18px;
  --text-body-2: 16px;
  --text-body-3: 14px;
  --text-body-4: 13px;
  --text-body-5: 12px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Pretendard", sans-serif;
}

* {
  line-height: 1.25;
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-black focus-visible:ring-offset-0;
}
